<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rick_and_Morty_API</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Rick_and_Morty_API.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="topnav">
            <a class="btn-lg btn-success" href="https://localhost:7281/RickAndMorty">See All Characters</a>
            <div class="search-container">
                <form id="form" role="search" asp asp-controller="RickAndMorty" asp-action="CallName">
                    <input type="search" id="query" name="name"
                           placeholder="Search..."
                           aria-label="Search through site content">
                    <button>Search</button>
                </form>
            </div>
        </div>
    </header>
    <h1 class="glow">Rick And Morty</h1>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
