@using Rick_and_Morty_API.Models
@model Root



<div class="col m-1">
    <p><strong>Characters</strong></p>
    @foreach (var character in Model.Results)
    {
        <ul>
            <li>Name:  @character.Name</li>
            <li>Species: @character.Species Location: @character.Location</li>
        </ul>
    }
</div>